{% load staticfiles %}
<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <title> {% block title %} DOCUMENT {% endblock %} </title>
  </head>
  <body>

    <div class="container-fluid">

{% block navbar %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary container-fluid">
  <a class="navbar-brand" href="#">Q-Health</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
</button>

<div class="navbar-collapse collapse" id="navbarColor01" style="">
<ul class="navbar-nav mr-auto">
  <li class="nav-item dropdown show">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Historial Clínico</a>
    <div class="dropdown-menu show" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
      <a class="dropdown-item" href="{% url 'inmunizaciones:inmunizaciones_listar' %} ">Vacunas</a>
      <a class="dropdown-item" href="{% url 'dispositivos:dispositivos_listar' %} ">Datos dispositivos</a>
      <a class="dropdown-item" href="{% url 'consultas:consultas_listar' %} ">Consultas</a>
      <a class="dropdown-item" href="{% url 'diagnosticos:diagnosticos_listar' %} ">Diagnosticos</a>
      <a class="dropdown-item" href="{% url 'datos_amarillo:datos_amarillo_listar' %} ">Historial específico</a>
      <a class="dropdown-item" href="{% url 'datos_obstetricos:datos_obstetricos_listar' %} ">Esquema obstetrico</a>
    </div>
  </li>
  <li class="nav-item dropdown show">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Pacientes</a>
    <div class="dropdown-menu show" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
      <a class="dropdown-item" href="{% url 'datos_personales:datos_personales_listar' %}">Datos del paciente</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'historial_paciente:historial_paciente_listar' %} ">Historial enf. Paciente</a>
      <a class="dropdown-item" href="{% url 'historial_padres:historial_padres_listar' %} ">Historial Padre</a>
      <a class="dropdown-item" href="{% url 'historial_madres:historial_madres_listar' %} ">Historial Madre</a>
    </div>
  </li>
  <li class="nav-item dropdown show">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="true">Configuración</a>
    <div class="dropdown-menu show" style="position: absolute; transform: translate3d(0px, 40px, 0px); top: 0px; left: 0px; will-change: transform;" x-placement="bottom-start">
      <a class="dropdown-item" href="#">Generar usuario</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="{% url 'enfermedades:enfermedades_listar' %} ">Catálogo enfermedades</a>
      <a class="dropdown-item" href="{% url 'vacunas:vacunas_listar' %} ">Catálogo vacunas</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Salir</a>
  </li>
</ul>
<form class="form-inline my-2 my-lg-0">
  <input class="form-control mr-sm-2" type="text" placeholder="Search">
  <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
</form>
</div>
</nav>
   {% endblock %}

</div>

    {% block header %}
    {% endblock %}

    {% block content %}
    <div class="well well-sm">
    Bloque Content del base
    </div>
    {% endblock %}

    {% block footer %}

    {% endblock %}

    {% block extrajs%}
    {% endblock %}
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src=" {% static 'js/bootstrap.min.js' %}"></script>

  </body>
</html>
