{% extends 'base/base.html'%}
{% load widget_tweaks %}

{% block title %}
Ingresar Datos
{% endblock %}

{% block header %}
<h2>Ingresar datos para diagnóstico</h2>
{% endblock %}

{% block content %}
<br>
  <form action = "{% url 'ModelosPregnancy:result' %}">
    {% csrf_token %}
    {% for hidden in form.hidden_fields %}
      {{ hidden }}
    {% endfor %}

    {% for field in form.visible_fields %}
      {% if field.label != "Diagnóstico" %}
      <div class="form-group row">
        <div class="col-sm-2">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        <div class="col-sm-5">
          {{ field|add_class:'form-control' }}
        </div>
        <div class="col-sm-5">
          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      {% else %}
      <div class="form-group row" style="visibility: hidden;">
        <div class="col-sm-2">
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        </div>
        <div class="col-sm-5">
          {{ field|add_class:'form-control' }}
        </div>
        <div class="col-sm-5">
          {% for error in field.errors %}
            <span class="help-block">{{ error }}</span>
          {% endfor %}
        </div>
      </div>
      {% endif %}
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-success">Guardar</button>
    <a href="{% url 'ModelosPregnancy:ModelosPregnancy_listar' %}" class="btn btn-info">Cancelar</a>
  </form>

{% endblock %}
