{% extends 'base/base.html' %}

{% block content %}

<table class="table table-bordered">
<thead>
  <tr>
    <th>No. Folio</th>
    <th>Nombre</th>
    <th>Apellido Paterno</th>
    <th>Apellido Materno</th>
    <th>Edad</th>
    <th>Fecha de Nacimiento</th>
    <th>Domicilio</th>
    <th>Opciones</th>
  </tr>
</thead>
<tbody>
  {% if object_list %}
  {% for personal in object_list %}
  <tr>
    <td>{{personal.folio}}</td>
    <td>{{personal.Nombre}}</td>
    <td>{{personal.apellido_paterno}}</td>
    <td>{{personal.apellido_materno}}</td>
    <td>{{personal.edad}}</td>
    <td>{{personal.fecha_nacimiento}}</td>
    <td>{{personal.domicilio}}</td>
    <td>
      <a class="btn btn-primary" href="{% url 'personal_data:personal_data_edit' personal.folio  %}">Editar</a>
      <a class="btn btn-danger" href="{% url 'personal_data:personal_data_delete' personal.folio  %}">Eliminar</a>
    </td>
  </tr>
  {% endfor %}

  {% else %}
  <h1> No hay registros</h1>
  {% endif %}
</tbody>

</table>

{% endblock %}
