{% extends 'base/base.html' %}

{% block header%}
<h3>Catalogo de Enfermedades</h3>
{% endblock %}

{% block content %}
<table >
  <head>
    <tr class="table table-dark">
      <td>#</td>
      <td>Código</td>
      <td>Nombre de Enfermedad</td>
      <td>Descripción</td>
    </tr>
  </head>
  <tbody>
    {% if object_list %}
    {% for Enfermedades in object_list %}
    <tr class="table-light">
      <td>{{ Enfermedades.id }}</td>
      <td>{{Enfermedades.codigo}}</td>
      <td>{{Enfermedades.nombre_enfermedad}}</td>
      <td>{{Enfermedades.descripcion}}</td>
      <td>
        <a href="{% url 'enfermedades:enfermedades_editar' enfermedades.id %}" class="btn btn-primary">Editar</a>
        <a href="{% url 'enfermedades:enfermedades_eliminar' enfermedades.id %}" class="btn btn-danger">Eliminar</a>
      </td>
    </tr>
    {% endfor %}

    {% else %}
    <h1>No hay registros</h1>
    {% endif %}
  </tbody>

</table>
{% endblock %}
